html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

.header-container {
	width: 100%;
	height: 16vw;
	text-align: center;
}

.header-background {
	background-color: #d8dfe5;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 98%;
	height: 10vw;
	
	margin-right: 1%;
	margin-left: 1%;
}
.header {
	width: 98%;
	height: 80%;
	padding-top: 6%;
	background-color: #d8dfe5;
	font-size: 5vw;
	text-align: center;
	border-bottom: 5px solid gray;
	border-radius: 15px;
	margin-bottom: 5px;
	margin-left: 1%;
	margin-right: 1%;
}

.body-container {
	width: 100%;
	height: 100%;
}

.input-container {
	padding-top: 6vw;
	padding-bottom: 6vw;
	margin: auto;
	background-color: #bbc6ce;
	width: 50%;
	display: block;
	border-radius: 10px;
	text-align: center;
}

.Sign-up {
	
}

.Login {

}

.Sign-up:hover, .Login:hover {
	background-color: #d8dfe5;
	box-shadow: box-shadow: 0 0 20px black;
}

.input-layer-sign-up {
	display: ;
}

.form {
	border: 3px solid #f1f1f1;
}

input [type=text], input [type=password] {
	width: 60%;
	padding: 12px;
	margin: 5px;
	display: inline-block;
	border: 1px solid #ccc;
}

.errorMsg {
	color: red;
	display: none;
}

.Email-container {
	position: relative;
	float: left;
	width: 50vw;
	height: 10vw;
}

#LoginForm {
	display: block;
}

#SubmitForm {
	display: none;	
}

.courses {
	top: 0;
	width: 100vw;
	height: 50vw;
	position: absolute;
	top: 20vw;
	background-color: blue;
	display: none;
}

.classDetails-content {
	width: 10vw;
	height: 15vw;
	position: absolute;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	background-color: white;
	border: 1px solid #ccc;
}

#CoursesPage {
	display: none;
}

#LoginPage {
	display: block;
}



